.cards{
   width:33%;
   border: 2px solid #fff; 
   background-color: #fff;
   border-radius: 3px;
   margin: 0 10px;
   padding: 1rem;
   text-align: center;
   color:rgb(17, 17, 61) ;
   height: 25vh;
}
.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0;
}
.CTitle{
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .container1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;
    }
    .cards{
        width:60%;
        border: 2px solid #fff; 
        background-color: #fff;
        border-radius: 3px;
        margin: 10px;
        padding: 1rem;
        text-align: center;
        color:rgb(17, 17, 61) ;
     }
  }