.container3{
    background-color:rgb(250,237,235) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87vh;
}
.pricing{
    color: rgb(17, 17, 61);
}
.pText{
    color: rgb(17, 17, 61);
    text-align: justify;
}